.footer-section {
  max-width: 100%;
}
.footer {
  background-color: var(--text-and-background-color-two);
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.footer-social {
  display: flex;
  gap: 20px;
}
.mobile-icon-footer{
    width: 20px;
  height: 20px;
}
.icon-footer {
  stroke: var(--text-and-background-color-one);
}
.time-work{
    color: white;
    font-size: 12px;
}
.mail{
    color: white;
    font-size: 12px;
}
.copirate{
    color: white;
    font-size: 12px;
}
@media screen and (min-width: 768px){
    .footer-section {
  max-width: 768px;
}
}

@media screen and (min-width: 1440px){
    .footer-section {
  max-width: 1140px;
}
}