    .swiper {
  width: 320px;
  height: 400px;
  display: flex;
      flex-wrap: wrap;
      padding: 0%;
      padding-right: 10px;
}
// .gallery-desktop {
//     display: none;
// }
// .wrapper-desktop {
//     display: none;
// }
.swiper-wrapper{
    display: flex;
}
    .swiper-slide {
        width: 320px;
    }
    .gallery-img {
        width: 320px;
      box-sizing: border-box;
    }

    .swiper-button-next, .swiper-button-prev {
    color: var(--text-and-background-color-three);
}

.slider-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 250ms linear, opacity 250ms linear;
}

    @media screen and (min-width: 768px){
.swiper {
  width: 650px;
  height: 500px;
}
    }

    @media screen and (min-width: 1140px){
.swiper {
  width: 1040px;
  height: 500px;
}
    }