<section class="about container">
    <h1 class="titel-about titel">О НАС</h1>
<p class="about-text"><span class="about-name">KALINOVSKYI JEWELRY</span> - роскошь, достойная каждого</p>
<ul class="list-about list">
    <Li class="list-text">От вечной классики до фантазийных авторских дизайнов. В ассортименте нашего магазина вы можете найти как лаконичные и универсальные модели для повседневных образов, так и эксклюзивные люксовые экземпляры для особого случая. Мы учитываем все пожелания наших клиентов и следим за современными тенденциями ювелирной моды.</Li>
<Li class="list-text">Мы сотрудничаем исключительно с проверенными производителями, которые имеют многолетний опыт и репутацию на ювелирном рынке. <span class="about-name">KALINOVSKYI JEWELRY</span> предлагает широкий выбор украшений из золота, серебра, платины, а также с натуральными камнями из разных уголков мира. Уникальные дары природы в каждом украшении.</Li>
<Li class="list-text">Безупречные драгоценные украшения по выгодным ценам больше не кажутся сказкой. Специальные предложения, скидки и акции сделают ваши покупки еще приятнее. </Li>
<Li class="list-text">Драгоценные металлы с каждым годом растут в цене, а месторождения драгоценных камней постепенно исчерпываются. В нашем магазине вы можете приобрести украшения высокого качества по приятным ценам и вложить свои средства с целью сохранить и приумножить свой капитал. </Li>
<Li class="list-text">Каждое ювелирное украшение хранит в себе свою историю. Приобретайте украшения в подарок себе или своим близким. Создавайте свои традиции, сохраняйте семейные ценности, передавайте драгоценные украшения по наследству, ведь именно они никогда не утратят свое величие, а наоборот – с годами их ценность и стоимость лишь возрастут.</Li>
</ul>
</section>
