<div class="gem-card">
    <img src="./images/blogAboutStouns/ametist.jpeg" alt="аметітс">
    <h2>АМЕТІСТ</h2>
    <p class="gem-description">Аметист - єдиний прозорий мінерал фіолетового відтінку.
За часів Середньовіччя вважався символом благочестя, тому його часто носили священнослужителі.
За часі Відродження - символ скромності.
У 17 столітті фіолетові аметисти з пурпуровим відливом (зараз називають сибірськими) цінувалися вище від діамантів, адже втілювали королівську розкіш.
Сучасні дослідження показали, що унікальний колір аметиста формується не лише завдяки марганцю та залізу, все складніше. Головна причина: наявність органічних домішків у кристалічній решітці.
З 2018 року, коли наймоднішим кольором був фіолетовий використовується провідними світовими брендами. Зокрема,Chopard i Damiani. Родовище у Замбії на даний момент єдине, яке постачає саме фіолетові, а не бузкові (як у Бразилії) аметисти.
Найрідкисніші аметисти - чорні. Саме тому вони найдорожчі. Нарости чорного кольору в природі утворюються лише у верхніх шарах,а під ними буде камінь бузкового кольору.
Природні аметисти рідко перевищують розмір 10 см.  Найбільший аметист було знайдено в Фінляндії, він важив 65 кг. Але крупні зразки фактично не бувають ідеальними, в них багато включеньі дефектів. Тому крупні аметисти у прикрасах - це завжи дорого, незалежно від їхнього кольору.</p>
  </div>
  <div class="gem-card">
    <img src="./images/blogAboutStouns/яшма_арахісова.jpeg" alt="аметітс">
    <h2>ЯШМА АРАХІСОВА</h2>
    <p class="gem-description">АРАХІСОВА ЯШМА - мінерал здобув свою назву тому, що на вигляд, дійсно, схожий на арахіс.
Але окрім цікавої зовнішності, в нього неймовірна історія виникнення.
Загалом яшма - це кварц і халцедон з великою кількістю домішків. І види яшми отримують назви, залежно від малюнку.
З арахісовим каменем все було інакше. Колись давно він був... деревиною. 
Мільйони років тому на території Західної Австралії ріс певний вид хвойчастих дерев. А велику частину континенту складало море. Після загибелі дерев, їхню деревину зносило в це море, де вона опускалася на дно.
Стародавні молюски прогризали у стовбурах тонелі, котрі з часом заповлювалися кварцитами, а сама деревина - кам'яніла.
Море висохло, молюски зникли. Залишивши по собі красивий камінь з молочно-шоколадним малюнком.
Через особливості утворення, арахісова яшма видобувається лише у Західній Австралії. Є рідкісною й дорогою.</p>
  </div>