<section class="blog">
  <div class="gem-card wrap">
    <h2 class="titel-gem">САПФИР</h2>
    <img
      class="img-gem"
      src="./images/blogAboutStouns/saphire.jpg"
      alt="аметітс"
    />
    <div class="gem-description">
      <p class="text">
        И рубин, и сапфир являются драгоценными разновидностями одного и того же
        минерала, корунда, оксида алюминия, который по твердости близок к
        алмазу. Хотя обычно сапфир считается синим, он также может быть
        бесцветным, зеленым, желтым, оранжевым, фиолетовый и розовый, среди
        других оттенков. До конца 19 века, когда геологи поняли, что сапфиры
        всех цветов — это один и тот же минерал, терминология в отношении
        наименования драгоценного камня сохранялась со времен средневековья:
        зеленый сапфир назывался восточным перидотом, а желтый сапфир —
        восточным топазом. Одним из старейших известных камней, четко
        идентифицированных как сапфир, является сапфир Святого Эдуарда:
        считается, что он датируется короной англосаксонского короля Эдуарда
        Исповедника в 1042 году. Фантазийные сапфиры За тремя исключениями, в
        современной терминологии просто используется слово «сапфир», которому
        предшествует цвет камня — например, желтый сапфир или зеленый сапфир.
        Двумя исключениями являются редкие розово-оранжевые камни, называемые
        падпараджа (на санскрите «цветок лотоса»), и сапфир, который кажется
        синим при дневном свете и красноватым или фиолетовым при искусственном
        освещении, который называется александриновым или александритовым
        сапфиром. Третье исключение — синий сапфир, который называют просто
        «сапфир». Цвета, отличные от синего, часто называют фантазийными
        сапфирами. Многие сапфиры, независимо от их цвета, имеют
        микроскопические включения рутила, которые образуют звезду при огранке
        кабошоном.
      </p>
      <div>
        <h2 class="titel-gem-second">Спецификация:</h2>
        <p class="text">
          Химическое название Оксид алюминия / Формула Al<span class="align"
            >2</span
          >0<span class="align">3</span>
          / Цвета: Большинство цветов /Структура Шестиугольная, треугольная /
          Твердость 9 / SG 4,0-4,1 / RI 1,76-1,77 / Блеск от Адамантина до
          стекловидного / Полоса Бесцветный.
        </p>
      </div>
      <div>
        <h2 class="titel-gem-second">Месторождения:</h2>
        <p class="text">
          1. Монтана, Северная Каролина, США <br />2. Кения <br />3.
          Мадагаскар <br />4. Индия <br />5. Шри-Ланка <br />6. Мьянма <br />7.
          Таиланд <br />8. Камбоджа <br />9. Вьетнам <br />10. Австралия
        </p>
      </div>
    </div>
  </div>
  <div class="gem-card wrap">
    <h2 class="titel-gem">РУБИН</h2>
    <img
      class="img-gem"
      src="./images/blogAboutStouns/ruby.jpg"
      alt="аметітс"
    />
    <div class="gem-description">
      <p class="text">
        Рубин — это красная разновидность минерала корунда, и его цвет плавно
        переходит туда, где останавливается розовый сапфир. Только более темные
        камни обычно называют рубинами, но различие между рубином и розовым
        сапфиром может быть вопросом мнения. Рубин иногда имеет пурпурный
        оттенок, а самый ценный цвет известен как кроваво-красный. Его добывали
        из гравия Шри-Ланки по крайней мере с 8 века до нашей эры, что было
        предметом спекуляций с самых первых дней его существования. Древние
        индийские и бирманские горняки считали бледно-розовые сапфиры незрелыми
        рубинами.
      </p>
      <div>
        <h2 class="titel-gem-second">Спецификация:</h2>
        <p class="text">
          Химическое название Оксид алюминия / Формула Al<span class="align"
            >2</span>0<span class="align">3</span>
          Цвет Красный / Структура Треугольная / Твердость 9 SG
4.0-4.1 / RI 1,76-1,78 / Блеск Стекловидное тело / Полоса Бесцветность 
        </p>
      </div>
      <div>
        <h2 class="titel-gem-second">Месторождения:</h2>
        <p class="text">
          1. Мьянма <br />2. Шри-Ланка <br />3.
          Нигерия <br />4. Таиланд <br />5. Австралия <br />6. Бразилия <br />7.
          Кашмир <br />8. Камбоджа <br />9. Кения <br />10. Малави <br />11. Колумбия <br />12. США и другие
        </p>
      </div>
    </div>
  </div>
</section>
