<section class="blog">
  <div class="gem-card wrap">
  <h2 class="titel-gem">САПФИР</h2>
    <img class="img-gem" src="./images/blogAboutStouns/ametist.jpeg" alt="аметітс">
    <div class="gem-description">
      <p class="text">И рубин, и сапфир являются драгоценными разновидностями одного и того же минерала, корунда, оксида алюминия, который по твердости близок к алмазу. Хотя обычно сапфир считается синим, он также может быть бесцветным, зеленым, желтым, оранжевым,
фиолетовый и розовый, среди других оттенков. До конца 19 века, когда геологи поняли, что сапфиры всех цветов — это один и тот же минерал, терминология в отношении наименования драгоценного камня сохранялась со времен средневековья: зеленый сапфир назывался восточным перидотом, а желтый сапфир — восточным топазом. Одним из старейших известных камней, четко идентифицированных как сапфир, является сапфир Святого Эдуарда: считается, что он датируется короной англосаксонского короля Эдуарда Исповедника в 1042 году.

Фантазийные сапфиры
За тремя исключениями, в современной терминологии просто используется слово «сапфир», которому предшествует цвет камня — например, желтый сапфир или зеленый сапфир.
Двумя исключениями являются редкие розово-оранжевые камни, называемые падпараджа (на санскрите «цветок лотоса»), и сапфир, который кажется синим при дневном свете и красноватым или фиолетовым при искусственном освещении, который называется александриновым или александритовым сапфиром. Третье исключение — синий сапфир, который называют просто «сапфир». Цвета, отличные от синего, часто называют фантазийными сапфирами. Многие сапфиры, независимо от их цвета, имеют микроскопические включения рутила, которые образуют звезду при огранке кабошоном.
</p>
<div>
  <h2 class="titel-gem-second">Спецификация:</h2>
  <p class="text">Химическое название Оксид алюминия / Формула Al<span class="align">2</span>0<span class="align">3</span>
 / Цвета: Большинство цветов /Структура Шестиугольная, треугольная /
Твердость 9 / SG 4,0-4,1 / RI 1,76-1,77 / Блеск от Адамантина до стекловидного / Полоса Бесцветный.
</p>
</div>
<div>
  <h2 class="titel-gem-second">Месторождения:</h2>
  <p class="text">
<br>1. Монтана, Северная Каролина, США 
<br>2. Кения
<br>3. Мадагаскар
<br>4. Индия 
<br>5. Шри-Ланка 
<br>6. Мьянма 
<br>7. Таиланд 
<br>8. Камбоджа
<br>9. Вьетнам 
<br>10. Австралия</p>
</div>
    </div>
  </div>
  <div class="gem-card">
    <h2>PEANUT JASPER</h2>
    <img src="./images/blogAboutStouns/яшма_арахісова.jpeg" alt="аметітс">
    <p class="gem-description">PEANUT JASPER - the mineral got its name because it really looks like a peanut.
But in addition to its interesting appearance, it has an incredible history.
In general, jasper is quartz and chalcedony with a lot of impurities. And types of jasper get names, depending on the picture.
It was different with the peanut stone. Once upon a time, he was... wood.
Millions of years ago, a certain type of coniferous tree grew on the territory of Western Australia. And a large part of the continent was the sea. After the trees died, their wood was washed into this sea, where it sank to the bottom.
Ancient molluscs gnawed tunnels in the trunks, which over time were filled with quartzite, and the wood itself petrified.
The sea dried up, the mollusks disappeared. Leaving behind a beautiful stone with a milk chocolate pattern.
Due to the peculiarities of formation, peanut jasper is mined only in Western Australia. It is rare and expensive.</p>
  </div>
</section>