    <div class="gallery swiper">
    <ul class="swiper-wrapper">
        <li class="list list-gallery swiper-slide">
            <img class="gallery-img" src="/src/images/gallery/opal.jpg" alt="">
        </li>
        <li class="list list-gallery swiper-slide">
            <img class="gallery-img" src="/src/images/gallery/citrin.jpg" alt="">
        </li>
        <li class="list list-gallery swiper-slide">
            <img class="gallery-img" src="/src/images/gallery/ametrin.jpg" alt="">
        </li>
    </ul>
    <!-- Кнопки навігації -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<div class="gallery-desktop">
    <ul class="wrapper-desktop">
        <li class="list list-gallery">
            <img class="gallery-img-desktop" src="/src/images/gallery/opal.jpg" alt="">
        </li>
        <li class="list list-gallery">
            <img class="gallery-img-desktop" src="/src/images/gallery/citrin.jpg" alt="">
        </li>
        <li class="list list-gallery">
            <img class="gallery-img-desktop" src="/src/images/gallery/ametrin.jpg" alt="">
        </li>
    </ul>
</div>