<div class="section">
    <div class="container container-hero">
        <img class="hero-img" src="" alt="hero">
    <h1 class="titel hero-titel">Изысканная ювелирная продукция для истинных ценителей</h1>
<p class="hero-text">Добро пожаловать в наш ювелирный магазин, где вы найдете уникальные украшения, созданные с любовью и мастерством. Мы предлагаем широкий выбор изысканных колец, ожерелий, браслетов и других ювелирных изделий, которые подчеркнут вашу индивидуальность и придадут вам блеск и элегантность.</p>
    <a href="./catalog.html" class="btn">Посмотреть каталог</a>
    </div>
</div>
