<section class="section">
    <div class="container saleForOpen">
        <div class="hover-content">
            <img class="saleForOpen-img" src="/src/images/stock/gift_box.jpg" alt="">
            <h2 class="titel-sale">АКЦИЯ</h2>
                <p class="procent">10%</p>
            <div class="hover-overlay is-hidden">
                <p class="text-sale-overlay">Cкидка на все ювелирные украшения. Акция действует на до 31.08.2023г.</p>
            </div>
        </div>
    </div>
</section>